.movie img {


max-width : 100% ;
}

.movie {

background-color: blue;

    overflow : hidden;
    position : relative;
    margin : 1rem;
    width : 300px;
}

.movie-info {

display : flex ;
font-size: medium;
padding :  1rem;
align-items: center;
justify-content: space-between;
height : 4rem;
}
.movie-info h3 {

    margin : 0;
}


.movie-overview{

    background-color : white;
    color :darkslateblue;
    padding : 1rem;
    position : absolute;
    bottom: 0;
    left: 0;
    right : 0;
   
    transform: translateX(100%);
    
    
    
    }

    .movie:hover  .movie-overview{

        transform: translateX(0%); 
    }